In [1]:
import numpy as np
import pandas as pd

In [11]:
songs_train = pd.read_csv('Dataset/train.csv')

In [12]:
train = pd.read_csv('Dataset/train_v2.csv')

In [13]:
songs = pd.read_csv('Dataset/songs.csv')

In [14]:
from sklearn.preprocessing import LabelEncoder #encoder package of sklearn
le = LabelEncoder() #le variable has been assigned a labelencoder function

songs_train['msno'] = le.fit_transform(songs_train['msno'].astype(str))
train['msno'] = le.fit_transform(train['msno'].astype(str))
songs['song_id'] = le.fit_transform(songs['song_id'].astype(str))
songs_train['song_id'] = le.fit_transform(songs_train['song_id'].astype(str))

In [15]:
train_songs_train = pd.merge(train, songs_train, on='msno', how='inner')

In [16]:
len(train_songs_train['msno'].unique())

30755

In [17]:
len(train_songs_train['song_id'].unique())

359966

In [18]:
train_songs_train_songs= pd.merge(train_songs_train, songs, on='song_id', how='inner')

In [19]:
len(train_songs_train_songs['song_id'].unique())

359966

In [20]:
len(train_songs_train_songs['msno'].unique())

30755

In [21]:
train_songs_train_songs=train_songs_train_songs.drop(columns = ['is_churn','source_system_tab','source_screen_name','source_type','target','song_length'],axis=1)

In [22]:
train_songs_train_songs=train_songs_train_songs.drop(columns = ['composer','lyricist'],axis=1)

In [23]:
train_songs_train_songs=train_songs_train_songs.dropna()

In [24]:
train_songs_train_songs.isna().sum()

msno           0
song_id        0
genre_ids      0
artist_name    0
language       0
dtype: int64

In [25]:
len(train_songs_train_songs['msno'].unique())

30724

In [26]:
len(train_songs_train_songs['song_id'].unique())

345380

In [27]:
train_songs_train_songs.to_csv('TransformedDataset/user_song_recommendation.csv',index=False)

In [3]:
result_plan_uplift = pd.read_csv('ResultDataset/result_plan_uplift.csv')

In [4]:
result_plan_uplift

,msno,Plan,Yearly,ThreeMonths,SixMonths,Monthly,Target,CN,CR,TN,TR,uplift_score
0,187,Yearly,1.000000e+00,5.378309e-16,9.618449e-12,7.478511e-15,1,0.111599,0.648138,0.110409,0.129854,-0.517093
1,501,Yearly,1.000000e+00,4.544101e-15,2.663593e-11,3.309442e-15,1,0.113499,0.659172,0.112289,0.115041,-0.542920
2,2184,Yearly,1.000000e+00,3.824104e-15,1.331874e-11,7.226672e-15,1,0.113508,0.659224,0.112297,0.114970,-0.543043
3,3550,Yearly,9.999996e-01,4.831649e-13,3.813251e-07,1.262527e-14,1,0.111599,0.648138,0.110409,0.129854,-0.517093
4,4465,Yearly,9.999996e-01,6.073017e-13,3.804050e-07,1.100728e-14,1,0.108525,0.624826,0.107367,0.159283,-0.464385
...,...,...,...,...,...,...,...,...,...,...,...,...
36333,91458,Monthly,3.887811e-20,1.512591e-20,2.686897e-20,1.000000e+00,1,0.113915,0.658950,0.113594,0.113541,-0.545088
36334,91469,Monthly,3.887811e-20,1.512591e-20,2.686897e-20,1.000000e+00,1,0.113915,0.658950,0.113594,0.113541,-0.545088
36335,92223,Monthly,3.887811e-20,1.512591e-20,2.686897e-20,1.000000e+00,1,0.113915,0.658950,0.113594,0.113541,-0.545088
36336,95992,Monthly,3.887811e-20,1.512591e-20,2.686897e-20,1.000000e+00,1,0.113648,0.659751,0.113327,0.113274,-0.546156
36337,96920,Monthly,3.887811e-20,1.512591e-20,2.686897e-20,1.000000e+00,1,0.134998,0.595760,0.134688,0.134554,-0.460896

In [5]:
result_recommendation = pd.read_csv('ResultDataset/result_recommendation.csv')

In [6]:
result_recommendation.head()

   index      artist_name    genre_ids     msno   song_id
0      0  Various Artists          958  17118.0  212013.0
1      1  Brazilian Girls          465  17118.0  251338.0
2      2    Joshua Hyslop          822  17118.0  154868.0
3      3     Da Lench Mob         1259  17118.0  205605.0
4      4  Minnie Riperton  139|125|109  17118.0    7693.0

In [7]:
result_plan_uplift_recommendation = pd.merge(result_plan_uplift, result_recommendation, on='msno', how='inner')

In [8]:
result_plan_uplift_recommendation.shape

(90490, 16)

In [9]:
result_plan_uplift_recommendation.to_csv('ResultDataset/result_plan_uplift_recommendation.csv')